.select-jogadores {
    background-color: #a9b8b2;
    color: #fff;
    width: 100%;
    border: none;
    padding: 2px 5px;
    &:focus {
        outline: none;
    }

    &__option {
        background-color: #fff;
        color: #000;
    }
}
