.quantidade {
    max-width: 50%;
    display: grid;
    grid-template-columns: 80px 30px;
    grid-template-rows: repeat(2, 30px);
    &__inp {
        border: 4px solid #e2e2e2;
        border-radius: 8px 0 0 8px;
        border-right: none;

        grid-column: span 1;
        grid-row: span 2;
        text-align: center;
        &:focus {
            outline: none;
        }
    }
    &__inc {
        border-radius: 0 8px 0 0;
        padding: 0;
    }
    &__dec {
        border-radius: 0 0 8px 0;
        padding: 0;
    }
}
